.MuiDialog-paper {
    max-width: 55vw;
    min-width: 55vw;
    min-height: 28vw;
    clip-path: polygon(0 0, 93% 0, 100% 15%, 100% 70%, 100% 100%, 30% 100%, 0 100%, 0% 30%);
}

.MuiDialog-paper > .MuiDialogTitle-root {
    display: flex;
    justify-content: center;
}

.MuiDialog-paper > .MuiDialogTitle-root > h2 {
    font-family: Gilroy-Bold;
    text-align: center;
    font-size: 2.3vw;
    width: 65%;
    line-height: 2.8vw;
}

.MuiDialogActions-root { 
    justify-content: center !important;
}

.MuiDialogContent-root > p {
    text-align: center;
    color: #3E63EC;
}

.MuiDialogContent-root > p > a {
    font-size: 1vw;
    color: #3E63EC;
    padding: 0vw 1vw;
    text-decoration: none;
    font-family: Gilroy-Medium;
}

.MuiDialogContent-root > div {
    display: flex;
    justify-content: space-around;
    padding: 0 5vw;
}

.MuiDialogContent-root > div > .MuiTextField-root {
    width: 18vw;
}

.MuiDialogContent-root > div > .MuiTextField-root > div::before, .MuiDialogContent-root > div > .MuiTextField-root > div::after {
    border-color: #3E63EC !important;
}

.MuiDialogContent-root > div > .MuiTextField-root > label {
    color: black !important;
    font-family: Gilroy-Medium;
}